$primary-red: #ef3244;
$secondary-blue:#54beb3;
$white:#ffffff;
$base-font-size:12px;
$header-font-size:25px;
$base-padding:15px;

html{
  height: 100%;
}

body{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
}