<section class="centered-block">

    <div id="main">
        <p>
            You gettin snoopy on my organization?
            I'll tell you this:
        </p>

        <p>
            We buy from textile mills in Malaysia.  No child labor though.
            We don't play that.
        </p>

        <p>
            Want to know if we got your favorite shirts in stock?
            Check out the <a href="t-shirt-inventory.html">inventory.</a>
        </p>

        <p>
            I you got the time, fill out the
            <a href="contact-form.html">
                Contact Form.
            </a>  I'd love to hear from ya.
        </p>
    </div>

</section>