<div class="col-sm-2 col-xs-3 thumbnail">
    <a href="the-simpsons.html">
        <img class="img-rounded" src="images/bart-simpson-thumb.png"
             width="60" height="60" alt="Bart Simpson"/>
        The Simpsons
    </a>
</div>
<div class="col-sm-2 col-xs-3 thumbnail">
    <a href="star-wars.html">
        <img class="img-rounded" src="images/han-solo-thumb.jpg"
             width="60" height="60" alt="Han Solo"/>
        Star Wars
    </a>
</div>

<div class="col-sm-2 col-xs-3 thumbnail">
    <a href="clint-eastwood.html">
        <img class="img-rounded" src="images/dirty-harry-thumb.jpeg"
             width="60" height="60" alt="Clint Eastwood"/>
        Clint Eastwood
    </a>
</div>
<div class="col-sm-2 col-xs-3 thumbnail">
    <a href="cereal-box-icons.html">
        <img class="img-rounded"  src="images/capn-crunch-thumb.jpeg"
             width="60" height="60" alt="Capn Crunch"/>
        Cereal Box Icons
    </a>
</div>
<div class="col-sm-2 col-xs-3 thumbnail">
    <a href="charlie-brown.html">
        <img class="img-rounded"  src="images/charlie-brown.png"
             width="60" height="60" alt="Charlie Brown"/>
        Charlie Brown
    </a>
</div>
<div class="col-sm-2 col-xs-3 thumbnail">
    <a href="queen-elizabeth-i.html">
        <img class="img-rounded" src="images/queen-elizabeth-thumb.jpg"
             width="60" height="60" alt="Queen Elizabeth I"/>
        Queen Elizabeth I
    </a>
</div>
