<section class="centered-block">

    <div id="main">
        <form method="post">
            <div id="first-and-last-name" class="bottom-margin  flex-container">
                <div id="first-name">
                    <label for="firstName">First Name: </label>
                    <input name="firstName"  id="firstName">
                </div>

                <div id="last-name">
                    <label for="lastName">Last Name: </label>
                    <input name="lastName"   id="lastName">
                </div>

            </div>

            <div class="bottom-margin">


                <label for="email" >Email: </label>
                <input  type="email"  name="email" id="email">
            </div>


            <div class="bottom-margin">

            </div>

            <div class="bottom-margin">
                <textarea name="message" rows="7" cols="45"></textarea>
            </div>

            <div class="bottom-margin">
                <input type="submit"  value="Submit">
            </div>

        </form>

    </div>




</section>