<section class="centered-block">

        <div  class="table-and-header">
            <section class="centered-block">
                <header class="table-header">T-Shirt Inventory</header>
                <table>
                    <tr>
                        <th>Description</th> <th>Available Colors</th><th>Price (US $)</th> <th>In-Stock Qty</th>
                    </tr>
                    <tr>
                        <td>Fat Albert</td><td>white, black, green, yellow</td><td>19.99</td><td>10</td>
                    </tr>
                    <tr>
                        <td>Yosemite Sam</td><td>white, black, red</td><td>21.99</td><td>10</td>
                    </tr>
                    <tr>
                        <td>Queen Elizabeth I</td><td>white, green, red</td><td>17.99</td><td>24</td>
                    </tr>
                    <tr>
                        <td>Captain Crunch</td><td>white, blue, orange</td><td>15.99</td><td>2</td>
                    </tr>
                    <tr>
                        <td>Charlie Brown</td><td>green</td><td>21.99</td><td>5</td>
                    </tr>
                    <tr>
                        <td>Bill The Cat</td><td>red, blue</td><td>19.99</td><td>23</td>
                    </tr>
                    <tr>
                        <td>Boba Fett</td><td>orange</td><td>15.99</td><td>1</td>
                    </tr>
                    <tr>
                        <td>Han Solo</td><td>barf, bronze</td><td>19.99</td><td>7</td>
                    </tr>
                    <tr>
                        <td>Dirty Harry</td><td>rust, bronze, maroon</td><td>19.99</td><td>9</td>
                    </tr>
                    <tr>
                        <td>Bart Simpson</td><td>white, black, red</td><td>19.99</td><td>11</td>
                    </tr>
                    <tr>
                        <td>Homer Simpson</td><td>white, blue, yellow</td><td>17.99</td><td>5</td>
                    </tr>
                    <tr>
                        <td>Lisa Simpson</td><td>rust, orange, barf</td><td>17.99</td><td>10</td>
                    </tr>
                    <tr>
                        <td>Terminator</td><td>orange, yellow, blue</td><td>17.99</td><td>12</td>
                    </tr>
                </table>
            </section>
        </div>

</section>