<section class="centered-block">

        <img class="category-image" src="images/han-solo-thumb.jpg"
             width="100" height="100" alt="Han Solo"/>

        <div id="main">
            <form method="post">
                <div class="bottom-margin">
                    <label id="quantity" for="quantity">Quantity: </label>
                    <input type="number"  value="1">
                </div>
                <div class="bottom-margin">
                    <input type="submit"  value="Buy">
                </div>

            </form>

        </div>

</section>