
<section id="categories-and-main">

    <div class="centered-block">

        <div id="main">
            <p>
                How you doin this fine-ass day.  You can shop categories below.
            </p>

            <p>
                <a href="about.html">Learn About Us.</a>
            </p>
        </div>

        <div id="categories" class="flex-container">

            <div class="category-image-container">
                <a href="the-simpsons.html">
                    <img class="category-image" src="images/bart-simpson-thumb.png"
                         width="60" height="60" alt="Bart Simpson"/>
                    The Simpsons
                </a>
            </div>
            <div class="category-image-container">
                <a href="star-wars.html">
                    <img class="category-image" src="images/han-solo-thumb.jpg"
                         width="60" height="60" alt="Han Solo"/>
                    Star Wars
                </a>
            </div>

            <div class="category-image-container">
                <a href="clint-eastwood.html">
                    <img class="category-image" src="images/dirty-harry-thumb.jpeg"
                         width="60" height="60" alt="Clint Eastwood"/>
                    Clint Eastwood
                </a>
            </div>
            <div class="category-image-container">
                <a href="cereal-box-icons.html">
                    <img class="category-image" src="images/capn-crunch-thumb.jpeg"
                         width="60" height="60" alt="Capn Crunch"/>
                    Cereal Box Icons
                </a>
            </div>

        </div>


    </div>

</section>

<section class="banner" id="bottom-banner">
    <footer>
        copyright 2017 by Ice-T and Samuel V. Goldenblum
    </footer>
</section>