@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat');

$primary-red: #ef3244;
$secondary-blue: #54BEB3;
$white: #FFFFFF;
$base-font-size:12px;
$header-font-size: 25px;
$base-padding:15px;
$base-font: 'Raleway', sans-serif;
$base-head-font:'Montserrat', sans-serif;

html {
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
a{
	text-decoration:none;
	&:hover{
		text-decoration: none;
		color:$primary-red;
	}
	&:focus{
		text-decoration: none;
		color:$secondary-blue;
	}
}